
<div class="content-wrapper page-transition">
  <div class="card">
    <div class="card-header">
      <div class="card-title">
        <i class="material-icons">cloud_upload</i>
        העלאת תבנית
      </div>
    </div>
    <div class="card-body">
      <form [formGroup]="templateForm" (ngSubmit)="submit()">
        <mat-form-field appearance="outline" class="custom-form-field">
          <mat-label>שם תבנית</mat-label>
          <input matInput formControlName="name" />
          @if(templateForm.get('name')?.invalid && templateForm.get('name')?.touched){
          <mat-error>שם תבנית הוא שדה חובה</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="custom-form-field">
          <mat-label>תיאור</mat-label>
          <input matInput formControlName="description" />
          <mat-error *ngIf="templateForm.get('description')?.invalid && templateForm.get('description')?.touched">
            תיאור הוא שדה חובה
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="custom-form-field">
          <mat-label>קטגוריה</mat-label>
          <mat-select formControlName="categoryId">
            @for(c of categories; track c.id) {
            <mat-option [value]="c.id">{{ c.name }}</mat-option>
            }
          </mat-select>
          @if(templateForm.get('categoryId')?.invalid && templateForm.get('categoryId')?.touched) {
          <mat-error>יש לבחור קטגוריה</mat-error>
          }
        </mat-form-field>

        <div class="file-upload-container">
          <label for="file-upload" class="file-upload-label">
            <i class="material-icons">attach_file</i>
            <span>בחר קובץ</span>
          </label>
          <input accept=".jpg,.jpeg,.png,.pdf" id="file-upload" type="file" class="file-input" (change)="onFileSelected($event)" />
          @if(selectedFile) {
            <div class="selected-file">
              <i class="material-icons">description</i>
              <span>{{ selectedFile.name }}</span>
            </div>
          }
        </div>

        <div class="form-actions">
          <button mat-raised-button type="submit" class="btn-primary"
            [disabled]="templateForm.invalid || !selectedFile || isUploading">
            <i class="material-icons">cloud_upload</i>
            <span>העלה ושמור תבנית</span>
            @if(isUploading) {
            <mat-spinner diameter="20" class="spinner"></mat-spinner>
            }
          </button>
        </div>
      </form>
    </div>
  </div>
</div>