.chart-layout-new {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.chart-pie {
  height: 90vh;
  /* max-width: 400px; */
  flex-shrink: 0;
  cursor: pointer;
}

.chart-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.chart-section {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s;
  cursor: pointer;
}

.chart-section:hover {
  transform: scale(1.02);
}

.chart-section h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #333;
}

canvas {
  max-width: 100%;
  max-height: 400px;
}
