
  <div class="content-wrapper page-transition">
    <div class="placement-workspace">
      <div class="template-workspace card">
        <div class="card-header">
          <div class="card-title">
            <i class="material-icons">dashboard_customize</i>
            <span style="font-size: large;">מיקום שדות</span>
            <span style="font-size: medium; padding-right: 20px;"> גרור את השדות למיקום הרצוי</span>
          </div>
          <button mat-raised-button color="primary" class="save-button" (click)="saveTemplate()">
            💾 שמור תבנית
          </button>
        </div>
        <div class="card-body">
          <div class="image-container" #imageContainer>
            @if(templateImageUrl) {
              <img
                #templateImage
                [src]="templateImageUrl"
                alt="Template"
                class="template-image"
                (load)="onTemplateImageLoad()" />
  
              @for (field of fields; track field) {
                @if (positions[field.field.id]) {
                  <div
                    class="field-label"
                    [style.top]="getFieldPosition(field.field.id)?.top"
                    [style.left]="getFieldPosition(field.field.id)?.left"
                    [style.position]="'absolute'"
                    [attr.data-field-id]="field.field.id"
                    (mousedown)="startDrag($event, field)"
                  >
                    <div class="field-label-content">
                      <mat-icon>drag_indicator</mat-icon>
                      <span>{{ field.field.name }}</span>
                    </div>
                  </div>
                }
              }
            } @else {
              <div class="loading-template">
                <mat-spinner diameter="40" color="accent"></mat-spinner>
                <p>טוען תבנית...</p>
              </div>
            }
          </div>
          @if (isPlacingFields) {
            <div class="field-loading-overlay">
              <mat-spinner diameter="50" color="accent"></mat-spinner>
              <p>טוען שדות...</p>
            </div>
          }
        </div>
      </div>
    </div>
  </div>