 <div class="login-container">
  <div class="login-card">
    <div class="card-header">
      <div class="card-title">
         התחברות
      </div>
    </div>

    <div class="login-form">
      <mat-form-field appearance="outline" class="form-field" floatLabel="always">
        <mat-label>אימייל</mat-label>
        <input matInput [(ngModel)]="email" type="email" required>
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field" floatLabel="always">
        <mat-label>סיסמה</mat-label>
        <input matInput [(ngModel)]="password" [type]="hidePassword ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-icon matPrefix>lock</mat-icon>
      </mat-form-field>

      <button mat-raised-button color="primary" class="btn-primary" (click)="login()" [disabled]="isLoading">
        @if(isLoading) {
        <mat-spinner color="#fff" diameter="20" class="spinner"></mat-spinner>
        }
        @else {
          כניסה
        }
      </button>
      



    </div>
  </div>
</div>
