/* .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: hidden;
    background: linear-gradient(135deg, var(--primary-light) 0%, var(--primary-dark) 100%);
    padding: 20px;
  }
  
  .login-card {
    top: 100px;
    width: 100%;
    max-width: 400px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  
    animation: fadeIn 0.5s ease-out;
  }
  
  .login-header {
    padding: 30px;
    text-align: center;
    background: var(--background-light);
  }
  
  .logo {
    width: 80px;
    height: 80px;
    margin-bottom: 16px;
  }
  
  .login-header h1 {
    margin: 0;
    color: var(--primary-dark);
    font-size: 1.8rem;
    font-weight: 600;
  }
  
  .login-header p {
    margin: 8px 0 0;
    color: var(--text-secondary);
    font-size: 1rem;
  }
  
  .login-form {
    direction: ltr;
    padding: 30px;
  }
  
  .form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
    border-radius: 8px;
    transition: all 0.3s;
  }
  
  .login-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }
 */





 

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  padding: 20px;
  /* background: #f2f4f7; */
}

.login-card {
  width: 100%;
  max-width: 500px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  animation: fadeIn 0.5s ease-out;
}


.card-header {
  padding: 18px 20px;
  border-bottom: 1px solid #f0f2f5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(135deg, #912ffa 0%, #256eed 100%);
  color: white;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.login-form {
  padding: 30px;
  direction: rtl;
}

.form-field {
  width: 100%;
  margin-bottom: 20px;
}

.mat-form-field {
  width: 100%;
  background: var(--input-bg);
  border-radius: 8px;
}

/* אנימציית טעינה */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* מסכים קטנים */
@media (max-width: 600px) {
  .login-card {
    margin: 0 15px;
    border-radius: 16px;
  }

  .login-form {
    padding: 20px;
  }

  .login-header {
    font-size: 1.2rem;
    padding: 16px;
  }
}
