<div class="home-container">
  
    <div class="main-grid">
  
      <div class="hero-card">
        <h1 class="animated-title">
          ברוכים הבאים ל<span class="color-changing-text"> מערכת הניהול </span>
        </h1>
        <p class="hero-subtitle">המקום שבו השליטה והנתונים נמצאים בידיים שלך</p>
        <button class="cta-button" (click)="onGetStarted()">
          <span class="button-text">{{ isLoggedIn() ? 'לצפיה בדוחות' : 'כניסה ללוח הבקרה' }}</span>
          <span class="button-icon">{{ isLoggedIn() ?  '📊' : '🛠️' }}</span>
        </button>
      </div>
  
      <div class="features-container">
        <!-- @for( feature of features; i = $index){
<div 
          
          class="feature-card floating-card"
          [style.animation-delay.s]="i * 0.2">
          <div class="card-icon">{{ feature.icon }}</div>
          <h3 class="card-title">{{ feature.title }}</h3>
          <p class="card-description">{{ feature.description }}</p>
          <div class="card-glow"></div>
        </div>
        } -->
        @for (feature of features; let i = $index; track $index) {
            <div 
              class="feature-card floating-card"
              [style.animation-delay.s]="i * 0.2">
              
              <div class="card-icon">{{ feature.icon }}</div>
              <h3 class="card-title">{{ feature.title }}</h3>
              <p class="card-description">{{ feature.description }}</p>
              <div class="card-glow"></div>
            </div>
          }
      </div>
      
    </div>
  </div>
  